.github/           export-ignore
.husky/            export-ignore
package.json       export-ignore
package-lock.json  export-ignore
release_notes.txt  export-ignore
update-module.js   export-ignore
node_modules/      export-ignore
module.zip         export-ignore
.gitignore         export-ignore
.gitattributes     export-ignore