<head>
    <style>
        form.categories .settings-table {
            width: 100%;
        }

        .column-item {
            width: 72%;
            text-align: left;
        }

        .column-item-th {
            width: 72%;
            text-align: left;
            padding-left: 4px;
        }

        .column-enable {
            width: 10%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            margin: 0;
        }

        .column-enable-td {
            width: 10%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            margin: 0;
            margin-top: 5px;
        }

        .column-timeout {
            width: 18%;
        }

        form.categories .small-text {
            font-size: 0.8em;
            color: #666;
        }

        .checkbox-inline input[type="checkbox"] {
            margin-right: 5px;
        }

        .sheet-footer button[type="submit"] {
            height: 40px;
            line-height: 40px;
            padding: 0 15px;
        }

        .sheet-footer button[type="submit"]:hover {
            background-color: #4A90E2;
            box-shadow: 0 0 8px #333;
            border-color: #333;
        }

        .sheet-footer button[type="submit"]:active {
            background-color: #3973CF;
            box-shadow: 0 0 8px #333;
            border-color: #333;
        }

        .sheet-footer {
            height: 60px;
            padding: 10px 2px;
            border-top: 1px solid #dee2e6;
            display: flex;
            justify-content: flex-end;
            box-sizing: border-box;
            bottom: 0;
            width: 100%;
        }

        .collapsible-content {
            display: none;
        }

        .collapsible-content.show {
            display: table-row-group;
        }

        .clickable {
            cursor: pointer;
        }

        .clickable label {
            cursor: pointer;
        }

        .collapsible-content label {
            margin-left: 20px;
        }

        .settings-table tr:hover {
            background-color: #3972cf71;
        }

        .form-container {
            padding-bottom: 60px;
        }
    </style>
</head>
<body>
    <form class="categories flexcol">
        <table class="settings-table" style="width: 100%;">
            <thead>
                <tr>
                    <th class="column-item-th">Class Features</th>
                    <th class="column-enable">Enable</th>
                    <th class="column-timeout">Timeout (seconds)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="column-item">
                        <label for="enableCloudRune">Cloud Rune<br><span class="small-text">Presents a dialog to Rune Knight Fighters with Cloud Rune.</span>
                        </label>
                    </td>
                    <td class="column-enable-td">
                        <div>
                            <input type="checkbox" id="enableCloudRune" name="enableCloudRune" data-dtype="Boolean" {{checked enableCloudRune}}/>
                        </div>
                    </td>
                    <td class="column-timeout">
                        <input type="text" id="cloudRuneTimeout" name="cloudRuneTimeout" value="{{cloudRuneTimeout}}" data-dtype="String">
                    </td>
                </tr>

                <tr class="clickable" data-content-id="collapsible-content-cuttingwords">
                    <td class="column-item">
                        <label>Cutting Words<br><span class="small-text">Presents a dialog to College of Lore Bards with Cutting Words.</span>
                        </label>
                    </td>
                    <td class="column-enable-td">
                        <div>
                            <input type="checkbox" id="enableCuttingWords" name="enableCuttingWords" data-dtype="Boolean" {{checked enableCuttingWords}}/>
                        </div>
                    </td>
                    <td class="column-timeout">
                        <input type="text" id="cuttingWordsTimeout" name="cuttingWordsTimeout" value="{{cuttingWordsTimeout}}" data-dtype="String">
                    </td>
                </tr>
                <tbody class="collapsible-content" id="collapsible-content-cuttingwords">
                    <tr>
                        <td class="column-item">
                            <label for="disableCuttingWordsMaxMiss">Disable prompt if max bardic die would not effect hit.</label>
                        </td>
                        <td class="column-enable-td">
                            <div>
                                <input type="checkbox" id="disableCuttingWordsMaxMiss" name="disableCuttingWordsMaxMiss" data-dtype="Boolean" {{checked disableCuttingWordsMaxMiss}}/>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                </tbody>

                <tr class="clickable" data-content-id="collapsible-content-interception">
                    <td class="column-item">
                        <label>Fighting Style: Interception <span class="small-text">(Click for Homebrew options...)<br>Presents a dialog to Paladins or Fighters with Interception.</span>
                        </label>
                    </td>
                    <td class="column-enable-td">
                        <div>
                            <input type="checkbox" id="enableInterception" name="enableInterception" data-dtype="Boolean" {{checked enableInterception}}/>
                        </div>
                    </td>
                    <td class="column-timeout">
                        <input type="text" id="interceptionTimeout" name="interceptionTimeout" value="{{interceptionTimeout}}" data-dtype="String">
                    </td>
                </tr>
                
                <tbody class="collapsible-content" id="collapsible-content-interception">
                    <tr>
                        <td class="column-item">
                            <label for="enableInterceptionCustomDice">Enable custom dice to use with Interceptions damage reduction.</label>
                        </td>
                        <td class="column-enable-td">
                            <div>
                                <input type="checkbox" id="enableInterceptionCustomDice" name="enableInterceptionCustomDice" data-dtype="Boolean" {{checked enableInterceptionCustomDice}}/>
                            </div>
                        </td>
                        <td class="column-timeout">
                            <select id="enableInterceptionCustomDiceNumber" name="enableInterceptionCustomDiceNumber" data-dtype="String"></select>
                            <select id="enableInterceptionCustomDiceFace" name="enableInterceptionCustomDiceFace" data-dtype="String"></select>
                        </td>
                    </tr>
                </tbody>

                <tr class="clickable" data-content-id="collapsible-content-protection">
                    <td class="column-item">
                        <label>Fighting Style: Protection <span class="small-text">(Click for Homebrew options...)<br>Presents a dialog to Paladins or Fighters with Protection.</span>
                        </label>
                    </td>
                    <td class="column-enable-td">
                        <div>
                            <input type="checkbox" id="enableProtection" name="enableProtection" data-dtype="Boolean" {{checked enableProtection}}/>
                        </div>
                    </td>
                    <td class="column-timeout">
                        <input type="text" id="protectionTimeout" name="protectionTimeout" value="{{protectionTimeout}}" data-dtype="String">
                    </td>
                </tr>
                <tbody class="collapsible-content" id="collapsible-content-protection">
                    <tr>
                        <td class="column-item">
                            <label for="enableProtectionOnSuccess">Enable only on a successful attack.</label>
                        </td>
                        <td class="column-enable-td">
                            <div>
                                <input type="checkbox" id="enableProtectionOnSuccess" name="enableProtectionOnSuccess" data-dtype="Boolean" {{checked enableProtectionOnSuccess}}/>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                </tbody>

                <tr class="clickable" data-content-id="collapsible-content-indomitable">
                    <td class="column-item">
                        <label>Indomitable <span class="small-text">(Click for Homebrew options...)<br>Presents a dialog to Fighters with Indomitable.</span>
                        </label>
                    </td>
                    <td class="column-enable-td">
                        <div>
                            <input type="checkbox" id="enableIndomitable" name="enableIndomitable" data-dtype="Boolean" {{checked enableIndomitable}}/>
                        </div>
                    </td>
                    <td class="column-timeout">
                        <input type="text" id="indomitableTimeout" name="indomitableTimeout" value="{{indomitableTimeout}}" data-dtype="String">
                    </td>
                </tr>
                <tbody class="collapsible-content" id="collapsible-content-indomitable">
                    <tr>
                        <td class="column-item">
                            <label for="enableAutoSucceedIndomitable">Enable auto success on use.</label>
                        </td>
                        <td class="column-enable-td">
                            <div>
                                <input type="checkbox" id="enableAutoSucceedIndomitable" name="enableAutoSucceedIndomitable" data-dtype="Boolean" {{checked enableAutoSucceedIndomitable}}/>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                </tbody>

                <tr>
                    <td class="column-item">
                        <label for="enableInstinctiveCharm">Instinctive Charm<br><span class="small-text">Presents a dialog to Enchantment Wizards with Instinctive Charm.</span>
                        </label>
                    </td>
                    <td class="column-enable-td">
                        <div>
                            <input type="checkbox" id="enableInstinctiveCharm" name="enableInstinctiveCharm" data-dtype="Boolean" {{checked enableInstinctiveCharm}}/>
                        </div>
                    </td>
                    <td class="column-timeout">
                        <input type="text" id="instinctiveCharmTimeout" name="instinctiveCharmTimeout" value="{{instinctiveCharmTimeout}}" data-dtype="String">
                    </td>
                </tr>

                <tr>
                    <td class="column-item">
                        <label for="enableRiposte">Maneuvers: Riposte<br><span class="small-text">Presents a dialog to Battle Master Fighters with Riposte.</span>
                        </label>
                    </td>
                    <td class="column-enable-td">
                        <div>
                            <input type="checkbox" id="enableRiposte" name="enableRiposte" data-dtype="Boolean" {{checked enableRiposte}}/>
                        </div>
                    </td>
                    <td class="column-timeout">
                        <input type="text" id="riposteTimeout" name="riposteTimeout" value="{{riposteTimeout}}" data-dtype="String">
                    </td>
                </tr>

                <tr>
                    <td class="column-item">
                        <label for="enablePoetryInMisery">Poetry in Misery<br><span class="small-text">Presents a dialog to College of Tragedy Bards with Poetry in Misery.</span>
                        </label>
                    </td>
                    <td class="column-enable-td">
                        <div>
                            <input type="checkbox" id="enablePoetryInMisery" name="enablePoetryInMisery" data-dtype="Boolean" {{checked enablePoetryInMisery}}/>
                        </div>
                    </td>
                    <td class="column-timeout">
                        <input type="text" id="poetryInMiseryTimeout" name="poetryInMiseryTimeout" value="{{poetryInMiseryTimeout}}" data-dtype="String">
                    </td>
                </tr>

                <tr>
                    <td class="column-item">
                        <label for="enableRainOfCinders">Rain of Cinders<br><span class="small-text">Presents a dialog to Roiling Hearth Witches with Rain of Cinders.</span>
                        </label>
                    </td>
                    <td class="column-enable-td">
                        <div>
                            <input type="checkbox" id="enableRainOfCinders" name="enableRainOfCinders" data-dtype="Boolean" {{checked enableRainOfCinders}}/>
                        </div>
                    </td>
                    <td class="column-timeout">
                        <input type="text" id="rainOfCindersTimeout" name="rainOfCindersTimeout" value="{{rainOfCindersTimeout}}" data-dtype="String">
                    </td>
                </tr>

                <tr>
                    <td class="column-item">
                        <label for="enableRestoreBalance">Restore Balance<br><span class="small-text">Presents a dialog to Clockwork Soul Sorcerers with Restore Balance.</span>
                        </label>
                    </td>
                    <td class="column-enable-td">
                        <div>
                            <input type="checkbox" id="enableRestoreBalance" name="enableRestoreBalance" data-dtype="Boolean" {{checked enableRestoreBalance}}/>
                        </div>
                    </td>
                    <td class="column-timeout">
                        <input type="text" id="restoreBalanceTimeout" name="restoreBalanceTimeout" value="{{restoreBalanceTimeout}}" data-dtype="String">
                    </td>
                </tr>

                <tr>
                    <td class="column-item">
                        <label for="enableRunicShield">Runic Shield<br><span class="small-text">Presents a dialog to Rune Knight Fighters with Runic Shield.</span>
                        </label>
                    </td>
                    <td class="column-enable-td">
                        <div>
                            <input type="checkbox" id="enableRunicShield" name="enableRunicShield" data-dtype="Boolean" {{checked enableRunicShield}}/>
                        </div>
                    </td>
                    <td class="column-timeout">
                        <input type="text" id="runicShieldTimeout" name="runicShieldTimeout" value="{{runicShieldTimeout}}" data-dtype="String">
                    </td>
                </tr>

                <tr>
                    <td class="column-item">
                        <label for="enableWitchesHex">Witches Hex<br><span class="small-text">Presents a dialog to Roiling Hearth Witches with Hex.</span>
                        </label>
                    </td>
                    <td class="column-enable-td">
                        <div>
                            <input type="checkbox" id="enableWitchesHex" name="enableWitchesHex" data-dtype="Boolean" {{checked enableWitchesHex}}/>
                        </div>
                    </td>
                    <td class="column-timeout">
                        <input type="text" id="witchesHexTimeout" name="witchesHexTimeout" value="{{witchesHexTimeout}}" data-dtype="String">
                    </td>
                </tr>
            </tbody>
        </table>
        <footer class="sheet-footer flexrow">
            <button type="submit" name="submit">
                <i class="fa fa-check"></i> Save Changes
            </button>
        </footer>
    </form>
</body>